body{
    background-color: #eaf6f6;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 20%;
    height: 1px;
    border-color:rgb(210, 210, 210)
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}